/* 기본 설정  */
* { margin : 0; padding : 0; }
body { font-family: "Gowun Dodum", system-ui; color : #37352f; }
#wrapper {
	width : 100%;
	margin : 0 auto;
}
/* 헤더 */
header {
	width : 100%;
	height : 44px;
	margin : 0 auto;
	padding : 0 10px;
	position : fixed;
	background-color : #fff;
	z-index : 100;
}
header p {
	font-size : 0.9em;
	position : absolute;
	top : 12px;
	left : 50px;
}
header > img {
	position : absolute;
	top : 8px;
	left : 20px;
}
header a {
	position : absolute;
	top : 12px;
	right : 80px;
}
header a:last-child {
	position : absolute;
	top : 12px;
	right : 50px;
}
/* 비주얼 */
#visual {
	width : 100%;
	height : 275px;
	background-image : url(../images/upheadMoon.jpg);
}
/* 콘텐츠 이전 */
#beforeContent {
	position : relative;
	width : 90%;
	height : 200px;
	margin : 0 auto;
}
#beforeContent img {
	width : 200px;
	height : 200px;
	position : absolute;
	top : -150px;
	left : -50px;
}
#beforeContent h1 {
	position : absolute;
	top : 50px;
}
#bar {
	width : 40%;
	height : 8px;
	background-color : #1876fb;
	position : absolute;
	bottom : 60px;
	left : 30%;
}
/* 콘텐츠 */
#contentWrap {
	width : 90%;
	margin : 0 auto;
}
/* 콘텐츠 영역 잡기 */
.leftContent {
	width : 20%;
	float : left;
	position : relative;
	text-align : center;
	overflow : hidden;
}
.rightContent {
	width : 20%;
	float : right;
	text-align : center;
	overflow : hidden;
}
.centerContent {
	width : 45%;
	float : left;
	margin-left : 130px;
	border : 1px dashed red;
}
/* 좌측 콘텐츠 */
.leftContent img {
	width : 320px;
}
.leftContent h2 {
	margin : 16px 0;
	font-weight : normal;
	font-style : italic;
}
.leftContent p {
	text-align : left;
	padding-bottom : 8px;
	border-bottom : 1px solid #ccc;
	color : #9f6b53;
}
table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
table { margin : 20px 0; }
th { padding : 5px 10px; font-size : 0.9em; white-space : nowrap;}
td { font-size : 0.9em; }
/* 우측 콘텐츠 */
.rightContent img {
	width : 20px;
	float : left;
	margin-left : 5px;
	margin-top : 10px;
	margin-right : 5px;
}
.rightContent h3 {
	text-align : left;
	padding: 5px 0;
	background-color : #F4F9FF;
	margin-bottom : 5px;
}
.rightContent h3 span {
	color : #1C59AF;
}
.lyrics {
	border : 1px solid #ccc;
	border-radius : 5px;
	text-align : left;
	padding : 15px 40px;
	margin-top : 5px;
	position : relative;
}
.lyrics img {
	position : absolute;
	top : 15px;
	left: 5px;
}
.nihongo {
	font-family : "Hachi Maru Pop";
	margin-top : 5px;
}
.korean {
	font-weight : bold;
}
/* 중앙 콘텐츠 */
.basic > p {
	border : 1px solid #ccc;
	border-radius : 5px;
	padding : 10px 50px;
	font-weight : bold;
	font-style : italic;
	margin-bottom : 30px;
}
.basic > p:before {
	content : "";
	display : inline-block;
	width : 20px;
	height : 20px;
	border : 1px dashed red;
	background-image : url(images/speaker.png);
	background-repeat : no-repeat;
	background-size : 20px 20px;
}